<a href="https://colab.research.google.com/github/sandesh949/AI-AND-ITS-APPLICATION/blob/main/code_of_final_exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def add_two_numbers(a,b):
    return a+b
print(add_two_numbers(2,3))

5

In [ ]:
# creating a Python script that creates a list of numbers from 1 to5 and prints each number on a new line
numbers = [1, 2, 3, 4, 5]
for number in numbers:
    print(number)

1
2
3
4
5

In [ ]:
# creating a Python function named get_first_three that takes alist and returns a new list with only the first three elements.
def get_first_three(list):
    return list[0:3]
print(get_first_three([1, 2, 3, 4, 5]))

[1, 2, 3]

In [ ]:
#creating a Python function named count_numbers that takes a list of numbers and returns how many numbers are in the list.
def count_numbers(list):
    return len(list)
print(count_numbers([1, 2, 3, 4, 5]))

5

In [ ]:
# creating a Python function named multiply_list that takes alist of numbers and a number n, and returns a new list where each elementis multiplied by n.
def multiply_list(list, n):
    new_list = []
    for number in list:
        new_list.append(number * n)
    return new_list

In [ ]:
def is_odd(num):
    return num % 2 != 0
print(is_odd(5))

True

In [ ]:
# creating a Python script that prints the numbers from 10 to 1 in descending order.
def print_numbers():
    for i in range(10, 0, -1):
        print(i)
print_numbers()

10
9
8
7
6
5
4
3
2
1

In [ ]:
# creating a Python function named min_of_three that takes three numbers and returns the smallest one.
def min_of_three(a, b, c):
    return min(a, b, c)
print(min_of_three(1, 2, 3))

1

In [ ]:
# creating a Python function named product_list that takes a listof numbers and returns their product.
def product_list(list):
    product = 1
    for number in list:
        product *= number
    return product
print(product_list([1, 2, 3, 4, 5]))

120

In [ ]:
# creating a Python script that takes a string from the user and prints it three times.
string = input("Enter a string: ")
for i in range(3):
    print(string)

Enter a string: 1
1
1
1

In [ ]:
#creating a Python function named capitalize_string that takes a string and returns it with the first letter capitalized.
def capitalize_string(string):
    return string.capitalize()
print(capitalize_string("hello world"))

Hello world

In [ ]:
#creating  a Python script that creates a list of the first 5 odd numbers.
odd_numbers = [1, 3, 5, 7, 9]
for number in odd_numbers:
    print(number)

1
3
5
7
9

In [ ]:
# creating a Python function named median_of_list that takes a list of numbers and returns their median.
def median_of_list(list):
  list.sort()
  if len(list) % 2 == 0:
    return (list[len(list) // 2] + list[len(list) // 2 - 1]) / 2
  else:
    return list[len(list) // 2]
print(median_of_list([1, 2, 3, 4, 5]))

3

In [ ]:
# creating a Python script that prints all numbers from 1 to 20 that are divisible by 4.
for i in range(1, 21):
    if i % 4 == 0:
        print(i)

4
8
12
16
20

In [ ]:
# creating  a Python function named unique_count that takes a list and returns the number of unique elements.
def unique_count(list):
    return len(set(list))
print(unique_count([1, 2, 3, 4, 5, 5, 6, 6]))

6

In [ ]:
# creating a Python script that takes a number from the user and print ts
# whether it is even or odd.
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("The number is even.")
else:
    print("The number is odd.")

Enter a number: 25
The number is odd.

In [ ]:
#creating a Python function named is_sorted that takes a list of
#numbers and returns True if it is sorted in ascending order, and False
#otherwise.
def is_sorted(list):
    return list == sorted(list)
print(is_sorted([1, 2, 4, 3, 5]))

False

In [ ]:
# creates a dictionary with keys ”fruit”,
#”color”, and ”price”, and prints the value of ”color”
fruit_dict = {"fruit": "apple", "color": "red", "price": 1.99}
print(fruit_dict["color"])

red

In [ ]:
# creating a Python function named power that takes a number and
#an exponent and returns the number raised to that exponent.
def power(num, exp):
    return num ** exp
print(power(2, 3))

8

In [ ]:
#creating a a Python script that takes a list of numbers and prints
#the smallest number in the list.
def num_list(list):
    return min(list)
print(num_list([1, 2, 3, 4, 5]))

1

In [ ]:
# creating a Python function named alternate_elements that
#takes a list and returns a new list with every other element (starting
#from the first).
def alternate_elements(list):
    return list[::2]
print(alternate_elements([1, 2, 3, 4, 5]))

[1, 3, 5]

In [ ]:
# creating a Python script that takes a string from the user and
#prints the number of vowels in it.
s = input("Enter a string: ")
count = 0
for char in s:
    if char in "aeiouAEIOU":
        count += 1
print("The number of vowels in the string is:", count)

Enter a string: 3
The number of vowels in the string is: 0

In [ ]:
#creating a Python function named filter_positive that takes a
#list of numbers and returns a new list containing only the positive numbers.
def filter_positive(list):
    return [x for x in list if x > 0]
print(filter_positive([1, -2, 3, -4, 5]))

[1, 3, 5]

In [ ]:
#creating a Python script that prints the first 5 square numbers.
def print_squares():
    for i in range(1, 6):
        print(i ** 2)
print_squares()

1
4
9
16
25

In [ ]:
#creating a Python function named shuffle_list that takes a list
#and returns a new list with the elements in random order (you may use
#the random module).
import random
def shuffle_list(list):
    return random.sample(list, len(list))
print(shuffle_list([1, 2, 3, 4, 5]))

[1, 5, 3, 2, 4]

In [ ]:
#creating  a Python script that takes a string and prints it in lowercase.
s = input("Enter a string: ")
print(s.lower())

Enter a string: apple
apple

In [ ]:
# creating  a Python function named difference that takes two lists
#and returns a new list containing elements that are in the first list but not
#in the second.
def difference(list1, list2):
    return [x for x in list1 if x not in list2]
print(difference([1, 2, 3, 4, 5], [3, 4, 5, 6, 7]))

[1, 2]

In [ ]:
#creating a Python script that creates a list of cubes of numbers
#from 1 to 4.
def list_of_cubes():
    return [x ** 3 for x in range(1, 5)]
print(list_of_cubes())

[1, 8, 27, 64]

In [ ]:
#creating a Python function named is_perfect_square that takes
#a number and returns True if it is a perfect square, and False otherwise.
def is_perfect_square(num):
    return num ** 0.5 == int(num ** 0.5)
print(is_perfect_square(4.5))

False

In [ ]:
#a Python script that takes a list of numbers and prints
#the sum of the odd numbers in the list.
def sum_of_odd_numbers(list):
    return sum([x for x in list if x % 2 != 0])
print(sum_of_odd_numbers([1, 2, 3, 4, 5]))

9